{{ template "header.html" }}
<html>
	<h2 id="timer">

	</h2>
	<body>
		<p id="words"></p>
	</body>
</html>
{{ template "footer.html" }}
<script>
	var _words = {{ .words }}
	var _words_string = _words.join(",");
	var _key_flag = 0;
	var _word_counter = 0;
	var _char_counter = 0;
	var _timer = 60;
	var _tme;

	var _users_current_word = "";
	//score is total chars which is divided by 5 = wpm
	var _score = 0;

	updateWords();
	window.onkeydown = function(event) {
		  updateWords();
		  gameLoop(event.key);
		  if(_key_flag == 0) {
			  _key_flag++;
			  setGame();
		  }
	};

	//highlights first word, then renders all words.
	function setGame() {
		_words[_word_counter] = "<mark>"+_words[_word_counter]+"</mark>";
		updateWords();
		_tme = setInterval(updateTimer,1000);
	}

	function gameLoop(user_char) {

		//turn user space into comma for correct comparison
		if (user_char == " ") {
			user_char = ",";
			//clean previous word from yellow
			_words[_word_counter] = _words[_word_counter].replace(/<\/?mark>/g, '');
			console.log(_users_current_word);
			//compare users word with current word
			if(_users_current_word == _words[_word_counter]) {
				//mark green for correctness
				_words[_word_counter] = "<mark style='background: greenyellow;'>"+_words[_word_counter]+"</mark>";
				_score += _users_current_word.length;
			} else {
				//mark red for wrongness
				_words[_word_counter] = "<mark style='background: red;'>"+_words[_word_counter]+"</mark>";
			}

			updateWords();
			//set next word yellow.
			_word_counter++;
			_words[_word_counter] = "<mark>"+_words[_word_counter]+"</mark>";
			//erase users current word
			_users_current_word = "";
			updateWords();
		} else {
			//add letter to users current word
			_users_current_word = _users_current_word + user_char;
		}
		//compare user input with current char
		//if(_words_string[_char_counter] == user_char) {
		//	console.log("correct");
		//}
		_char_counter++;
	}

	function updateWords() {
		const paragraph = document.getElementById("words");
		paragraph.innerHTML = _words.join(" ");
	}

	function updateTimer() {
		const timer = document.getElementById("timer");
		timer.textContent = _timer;
		//end typing test
		if (_timer <= 0) {
			clearInterval(_tme);
			var wpm = _score / 5;
			alert("your score is " + wpm + "wpm");
		}
		_timer--;
	}
</script>